@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(
        45deg,#efefef 25%,rgba(46, 80, 160, 0.335) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef),linear-gradient(
        45deg,#1c4c8a 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef);
}
.wrapper{
    width: 370px;
    padding: 30px;
    border-radius: 7px;
    background-color: #fff;
}
.wrapper header{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.wrapper form{
    margin: 40px 0 20px 0;
}
form :where(input, select ,button){
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}
form p{
    font-size: 18px;
    margin-bottom: 5px;
}
form input{
    height: 50px;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid #999;
}
form input:focus{
    padding: 0 14px;
    border: 2px solid rgba(169, 183, 245, 0.972);
}
form .drop-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.drop-list .select-box{
    display: flex;
    height: 45px;
    width: 115px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
}
.select-box select ::-webkit-scrollbar{
    width: 80px;
}
.select-box select ::-webkit-scrollbar-track{
    background: #fff;
}
.select-box select ::-webkit-scrollbar-thumb{
    background: #8888;
    border-radius: 50%;
    border-right: 2px solid #fff;       
}
.select-box select{
    width: auto;
    font-size: 16px;
    margin: 0 -5px 0 5px;
}
.select-box img{
    max-width: 30px;
}
.drop-list .icon{
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
form .exchange-rate{
    font-size: 17px;
    margin: 20px 0 30px 0;
}
form button{
    height: 52px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;                    
    background: rgba(46, 80, 160, 0.685);
}
